@model IEnumerable<ShopApp.DataAccess.Models.Cart>

@{
	ViewData["Title"] = "Index";
}

<h1>Cart</h1>

<div class="container">
	<div class="row">
		@foreach (var cart in Model)
		{
			<div class="col-lg-3 col-sm-6">
				<div class="row p-2">
					<div class="col-12 p-1">
						<div class="card border-0 p-3 shadow border-top border-5 rounded">
							@foreach (var product_count in cart.ProductCounts)
							{
								<img src="\images\products\@product_count.Product.ImageUrl" class="card-img-top" />

								<div class="card-body pb-0">
									<div class="p-lg-1">
										<p class="card-title h5 text-dark opacity-75 text-uppercase text-center">
											@product_count.Product.Name
										</p>
										<p class="card-title text-warning text-center">
											@product_count.Product.Category.Name
										</p>
									</div>
									<div class="p-lg-1">
										<p class="text-dark text-opacity-75 text-center mb-0">
											List Price:
											<span class="text-decoration-line-through">
												@product_count.Product.ListPrice.ToString("c")
											</span>
										</p>
									</div>
									<div class="p-lg-1">
										<p class="text-dark text-opacity-75 text-center">
											Sale Price:
											<span>
												@product_count.Product.SalePrice.ToString("c")
											</span>
										</p>
									</div>
								</div>
							}

							<div>
								<a asp-action="Details" asp-route-id="@cart.Id" class="btn btn-primary bg-gradient border-0 form-control">
									Details
								</a>
							</div>
							<div>
								<a asp-controller="Cart" asp-action="Details" asp-route-id="@cart.Id" class="btn btn-primary bg-gradient border-0 form-control">
									Cart Details
								</a>
							</div>
						</div>



					</div>

				</div>
			</div>
		}
	</div>
</div>